body{
	background: white;
	font-family: arial;
}


table{
	width: 300px;
}

th{
	text-transform: uppercase;
	font-size: 25px;
}

tr .title{
	font-size: 15px;
	text-align: left;
}

tr .year{
	font-size: 15px;
	text-align: right;
}

#people {
	position: absolute;
	top: 0;
	right:0;
	left: 0;
	height: 250px;
	width: 100%;
	z-index: -1;
}

#maintitle{
	color: #336699;
	font-family: futura;
	font-size: 5em;
	text-align: center;
	text-shadow: 5px 5px 5px #ffffe6;
}

.navbar{
	margin-top: 110px;
}

form{
	width: 500px;
	height: 200px;
	background-image: url("walking.jpeg");
	background-repeat: no-repeat;
	border: solid #e6e6e6 3px;
	border-radius: 5px;
}
