body{
	background: white;
	font-family: futura;
}

#filmography{

}

table{
	width: 400px;
}

th{
	text-transform: uppercase;
	font-size: 2em;
}

tr .title{
	font-size: 20px;
	text-align: left;
}

tr .year{
	font-size: 15px;
	text-align: right;
}